# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.husky/_
.idea

# Local env files
.env
.env.*
!.env.example

# Tauri
/tauri/target/
/tauri/gen/schemas
**/.gradle/
**/build/
local.properties
**/DerivedData/
**/xcuserdata/
Pods/

.local
